/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------DISEÑO GRÁFICO-----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
h2 {
  font-size: 0.7em;
}
p {
  font-size: 0.5em;
}
.img-responsive {
  width: 100%;
}
.img-responsive-50 {
  width: 50%;
}
.contenedorInicial {
  text-align: center;
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.espacioQR {
  padding-top: 5em;
  padding-bottom: 5em;
}
.contenedor-flex-centrado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}
.contenedor-flex-enlinea {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.navegadorTrabajos {
  border-radius: 10px;
  width: 100%;
  height: 80px;
  background-color: var(--azulClaro);
  color: var(--negro);
}
.contenedor-info {
  background-color: var(--blanco);
  border-radius: 15px;
  padding: 1em;
  align-items: flex-start;
  row-gap: 0em;
}
.contenedor-info h2,
.contenedor-info p {
  text-align: left;
  color: var(--negro);
}

.video-w-80 {
  width: 80%;
}
.splide__slide img {
  width: 100%;
}
.titularesDG {
  font-size: 1em;
}

.subtitularesDG {
  font-size: 0.7em;
}

.parrafosDG {
  font-size: 0.5em;
}
.contenedorDetalles {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.contenedorDetalles .parrafoDetalles {
  padding-right: 50px;
}

.fa-circle-right,
.fa-circle-left {
  transition-duration: 0.5s;
  color: var(--negro);
}

.fa-circle-right:hover,
.fa-circle-left:hover {
  color: var(--blanco);
  transition-duration: 0.5s;
  transform: scale(1.5);
}

.iconsSoft {
  border-left: 2px solid;
}
.iconsSoft img {
  max-width: 80px;
}

.noSeVe {
  display: none;
}

.seVe {
  display: flex;
}

.contenedorIframeYt {
  width: 70vw;
  height: 80vh;
}
.iframeYt {
  width: 100%;
  height: 100%;
}

.btnProgramacion {
  transition-duration: 0.5s;
  background-color: var(--azulClaro);
  padding: 15px;
  border: 4px solid var(--azulFuerte);
  border-radius: 10px;
}
.btnProgramacion a {
  transition-duration: 0.5s;
  font-size: 0.8em;
  color: var(--blanco);
}

.btnProgramacion:hover {
  transition-duration: 0.5s;
  background-color: var(--amarilloClaro);
  border: 4px solid var(--amarilloFuerte);
}

.btnProgramacion:hover a {
  font-size: 0.9em;
  transition-duration: 0.5s;
  transform: scale(1.5);
  color: var(--negro);
}

/*--------------------------MODAL---------------------------------*/

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal {
  display: none;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.contenedorModal {
  width: 400px;
  height: 385px;
  margin: auto;
  background-color: var(--blanco);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
}

.contenedorModal header {
  padding: 20px;
  background-color: var(--negro);
  color: var(--blanco);
}

.contenedorModal label {
  position: absolute;
  border: 2px solid var(--blanco);
  padding: 4px;
  top: 5px;
  right: 10px;
  color: var(--blanco);
  cursor: pointer;
}

.lbl-modal {
  display: none;
}
.contenidoModal p.textoModal {
  padding: 30px;
  color: var(--negro);
}

.copyQr p {
  padding-top: 1em;
}
